
<head>
  <script type="text/javascript" src="../assets/javascripts/phaser.min.js"></script> 
  <script type="text/javascript" src="../assets/javascripts/game.js"></script>
</head>
<div id="google">
      <% if current_user %>
        Signed in as <strong><%= current_user.name %></strong>!
        <%= link_to "Sign out", signout_path, id: "sign_out" %>
      <% else %>
        <%= link_to "Sign in with Google", "/auth/google_oauth2", id: "sign_in" %>
      <% end %>
</div>

<h1>Game Home Page</h1>
<h1>Leaderboards:</h1>
<table>
  <tr>
    <th>Name</th>
    <th>Email</th>
    <th colspan="2">&nbsp;</th>
  </tr>
  
  <% @users.each do |user| %>
  <tr>
    <td><%= user.name %></td>
    <td><%= user.email %></td>
  </tr>
  <% end %>
 </table>
<div id="gameDiv"></div>