
<head>
  <meta name="google-signin-client_id" content="YOUR_CLIENT_ID.apps.googleusercontent.com">
  <script type="text/javascript" src="../assets/javascripts/phaser.min.js"></script> 
  <script type="text/javascript" src="../assets/javascripts/game.js"></script>
</head>
<div id="google">
      <% if current_user %>
        Signed in as <strong><%= current_user.name %></strong>!
        <%= link_to "Sign out", signout_path, id: "sign_out" %>
      <% else %>
        <%= link_to "Sign in with Google", "/auth/google_oauth2", id: "sign_in" %>
      <% end %>
</div>
<div id="google"></div>
  <script>
    function onSuccess(googleUser) {
      console.log('Logged in as: ' + googleUser.getBasicProfile().getName());
    }
    function onFailure(error) {
      console.log(error);
    }
    function renderButton() {
      gapi.signin2.render('google', {
        'scope': 'profile email',
        'width': 240,
        'height': 50,
        'longtitle': true,
        'theme': 'dark',
        'onsuccess': onSuccess,
        'onfailure': onFailure
      });
    }
  </script>
  <script src="https://apis.google.com/js/platform.js?onload=renderButton" async defer></script>
<h1>Game Home Page</h1>
<h1>Leaderboards:</h1>
<table>
  <tr>
    <th>Name</th>
    <th>Email</th>
    <th colspan="2">&nbsp;</th>
  </tr>
  
  <% @users.each do |user| %>
  <tr>
    <td><%= user.name %></td>
    <td><%= user.email %></td>
  </tr>
  <% end %>
 </table>
<div id="gameDiv"></div>